<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <script>
      (function(d) {
        var config = {
          kitId: 'qeu1fug',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info py-md-8">
      <div class="container">
        <h1 class=" mb-0">
          <a href="./index.html" class="images-replace logo-bg logo-size background-image-setting d-block">
            DOYOGA
          </a>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-gray py-0" href="#">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-gray py-0" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-gray py-0" href="#">當月課表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-gray py-0 d-block d-lg-none" href="#">立即預約</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-gray py-0 d-block d-lg-none" href="#">聯絡我們</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse flex-grow-0 d-none d-lg-block" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn btn-outline-primary btn-lg fs-9" href="#">立即預約</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary btn-lg fs-9 ms-7" href="#">聯絡我們</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="border-bottom border-white bg-primary">
      <div class="container  py-9 py-md-12">
        <div class="d-lg-flex justify-content-between">
          <p class="fs-6 fs-md-5 text-white mb-2 mb-lg-0">現在訂閱，獲得課程優惠碼！</p>
          <div class="d-flex">
            <input type="text" class="subscribe-input border-1 border-end-0 rounded-start border-primary fs-8 py-2 px-7" placeholder="輸入您的電子信箱">
            <button class="btn btn-secondary btn-lg text-white border-start-0 rounded-0 rounded-end fs-8 ">訂閱</button>
          </div>
        </div>
      </div>
    </footer>
    <footer class="bg-primary">
      <div class="container py-9 py-md-12">
        <div class="d-flex justify-content-between align-items-center mb-md-2">
          <div>
            <img src="./assets/images/logo/DOYOGA.png" alt="logo" class="logo-size">
          </div>
          <ul class="list-unstyled d-flex align-items-center">
            <li>
              <a href="#">
                <i class="fab fa-facebook text-white fs-6"></i></li>
              </a>
            <li class="ms-2">
              <a href="#">
                <i class="fab fa-instagram text-white fs-6"></i>
              </a>
            </li>
            <li class="ms-2">
              <a href="#">
                <i class="fab fa-line text-white fs-6"></i>
              </a>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled text-white">
          <li class="mb-2"><a href="#" class=" text-white">課程介紹</a></li>
          <li class="mb-2"><a href="#" class=" text-white">瑜珈空間</a></li>
          <li class="d-flex position-relative mb-2 mb-md-0">
            <a href="#" class=" text-white">當月課表</a>
            <p class="d-none d-md-block text-white position-absolute start-50 tranlate-start-50">© 2021. All Rights Reserved.</p>
          </li>
          <li>
            <p class="text-white d-md-none">© 2021. All Rights Reserved.</p>
          </li>
        </ul>
      </div>
    </footer>


    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>