.btn-outline-primary:hover{
    color: white;
}

.btn-primary{
    color: white;
}

.btn-secondary:hover{
    background: $primary;
}

.btn-info{
    color: $primary;
}

.btn-info:hover{
    color: white;
}