.images-replace{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.logo-bg{
    background: url("../images/logo/DOYOGA-logo.png");
}

.logo-size{
    width: 96px;
    height: 31px;
}

.background-image-setting{
    background-size: cover;
    background-position: bottom;
}

.tranlate-start-50{
    transform: translate(-50%, 0%)
}

.border-round-16{
    border-radius: 16px;
}

.border-round-top-16{
    border-radius: 16px 16px 0 0;
}

.img-fit-cover{
    object-fit: cover;
}
