.images-replace{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.logo-bg{
    background-image: url(../../../assets/images/logo/DOYOGA-logo.png);
}

.logo-size{
    width: 96px;
    height: 31px;
}

.background-image-setting{
    background-size: cover;
    background-position: center;
}

.tranlate-start-50{
    transform: translate(-50%, 0%)
}