.images-replace{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.logo-bg{
    background: url(/dist/assets/images/logo/DOYOGA-logo.png);
    // width: 96px;
    // height: 31px;
}